header{
    color:white;
    background-color:purple;
    text-align: center;
    padding: 20px;
  }

section{
    display:flex;
    flex-wrap: wrap;
}

img{
    padding: 5px;
    margin: 5px;
}

article{
    flex: 10%;
    background-color:lightblue;
    padding: 5px;
    margin: 5px;
}
